In [1]:
#Import Dependencies
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import numpy as np
#%matplotlib inline


#inport line from where beautiful soup will be pulling data ("Main Link")
url = 'https://www.boxofficemojo.com/year/2021/?ref_=bo_yl_table_1'
html_text = requests.get(url).text
soup = BeautifulSoup(html_text, 'html.parser')

<h1>Make data into list</h1>
<h4>list consist of (rank, title, gross, release, studio)</h4>

In [2]:
#Read html where titles of movies are located 
titles=soup.find_all('td', class_='a-text-left mojo-field-type-release mojo-cell-wide')


#for loop to look thru all the html titles and convert them to string
All_titles = []
for thing in titles:
    All_titles.append(thing.select('a')[0].string)

In [3]:
#print all titles 
All_titles

['Spider-Man: No Way Home',
 'Shang-Chi and the Legend of the Ten Rings',
 'Venom: Let There Be Carnage',
 'Black Widow',
 'F9: The Fast Saga',
 'Eternals',
 'No Time to Die',
 'A Quiet Place Part II',
 'Ghostbusters: Afterlife',
 'Free Guy',
 'Jungle Cruise',
 'Godzilla vs. Kong',
 'Dune',
 'Halloween Kills',
 'Encanto',
 'Cruella',
 'Sing 2',
 'Space Jam: A New Legacy',
 'The Conjuring: The Devil Made Me Do It',
 'Candyman',
 'The Boss Baby 2: Family Business',
 'The Addams Family 2',
 'The Suicide Squad',
 'Raya and the Last Dragon',
 'Demon Slayer the Movie: Mugen Train',
 'Clifford the Big Red Dog',
 'House of Gucci',
 'Old',
 'Tom & Jerry',
 'The Forever Purge',
 'Peter Rabbit 2: The Runaway',
 'PAW Patrol: The Movie',
 "Hitman's Wife's Bodyguard",
 'Mortal Kombat',
 "Don't Breathe 2",
 'In the Heights',
 'Snake Eyes',
 'West Side Story',
 'The Matrix Resurrections',
 'Wrath of Man',
 'Nobody',
 'The Croods: A New Age',
 'Escape Room: Tournament of Champions',
 'Respect',
 'Wonder Woman 1984',
 'Spiral',
 "Ron's Gone Wrong",
 'Spirit Untamed',
 'The Green Knight',
 'Resident Evil: Welcome to Raccoon City',
 "The King's Man",
 'The French Dispatch',
 'The Marksman',
 'The Unholy',
 'The Little Things',
 'Dear Evan Hansen',
 'King Richard',
 'Stillwater',
 'Christmas with the Chosen: The Messengers',
 'Malignant',
 'Chaos Walking',
 "My Hero Academia: World Heroes' Mission",
 'American Underdog',
 'The Last Duel',
 'Antlers',
 'Cry Macho',
 'Monster Hunter',
 'Last Night in Soho',
 'News of the World',
 'The Many Saints of Newark',
 'The Protégé',
 'The Night House',
 'Spencer',
 'Belfast',
 'Nightmare Alley',
 'Those Who Wish Me Dead',
 'The Courier',
 'Judas and the Black Messiah',
 'Licorice Pizza',
 'Promising Young Woman',
 'Roadrunner: A Film About Anthony Bourdain',
 'Copshop',
 'Zola',
 'Separation',
 'Boogie',
 'Fatale',
 'A Journal for Jordan',
 'Reminiscence',
 '12 Mighty Orphans',
 'Sooryavanshi',
 'Pig',
 'The Girl Who Believes in Miracles',
 'Voyagers',
 'Minari',
 "'83",
 'Dream Horse',
 'The House Next Door: Meet the Blacks 2',
 'Here Today',
 'Finding You',
 'Lamb',
 'The Card Counter',
 'Land',
 'The War with Grandpa',
 'The Eyes of Tammy Faye',
 'Summer of Soul (...Or, When the Revolution Could Not Be Televised)',
 'After We Fell',
 'Queen Bees',
 'The Father',
 'Show Me the Father',
 "C'mon C'mon",
 'Profile',
 'Titane',
 'Together Together',
 'Joe Bell',
 'Nomadland',
 'Pinocchio',
 'Pushpa: The Rise - Part 1',
 'Scott Pilgrim vs. the World',
 'Wrong Turn',
 'Honsla Rakh',
 "God's Not Dead: We the People",
 'In the Earth',
 'The Rescue',
 'Sword Art Online: Progressive - Aria of a Starless Night',
 'True to the Game 3',
 'Long Weekend',
 'The Jesus Music',
 'Love Story',
 'Come Play',
 'An Egg Rescue',
 'Witnesses',
 'Scoob!',
 'The Alpinist',
 'Four Good Days',
 'The Mauritanian',
 'Lamb of God: The Concert Film',
 'Blue Bayou',
 'French Exit',
 "L'Arracheuse de temps",
 'Nine Days',
 'Our Friend',
 'Chal Mera Putt 3',
 'The Sparks Brothers',
 "If I Can't Have Love, I Want Power",
 'Aline',
 'Werewolves Within',
 'City of Lies',
 'Anita',
 'Courageous',
 'The Truffle Hunters',
 'For the Love of Money',
 'National Champions',
 'Jathi Ratnalu',
 'Most Eligible Bachelor',
 'Tenet',
 'World War Z',
 'The Lost Leonardo',
 '2021 Oscar Nominated Short Films: Live Action',
 'Flag Day',
 "Willy's Wonderland",
 'Top Gun',
 'Dutch',
 'Ghostbusters',
 'The Metropolitan Opera HD Live: Mussorgsky: Boris Godunov',
 'Crisis',
 'Red Rocket',
 'Julia',
 'Ghost in the Shell',
 'The Dry',
 'Bo Gia',
 'The Battle at Lake Changjin',
 "The Emperor's New Groove",
 'Benedetta',
 'Freaky',
 'Drive My Car',
 'Final Account',
 'The Water Man',
 'New Order',
 'India Sweets and Spices',
 'Blithe Spirit',
 'American Skin',
 "I'm Your Man",
 'Escape from Mogadishu',
 'Raging Fire',
 'A Mouthful of Air',
 'Rita Moreno: Just a Girl Who Decided to Go for It',
 'Weathering with You',
 'Once I Was Engaged',
 'Supernova',
 'Becoming Cousteau',
 'Half Brothers',
 'Limbo',
 'Promare',
 'Together',
 'La Piscine',
 'Ailey',
 'Groundhog Day',
 'The Resort',
 'Kaamelott: First Installment',
 'Earwig and the Witch']

In [4]:
#Read html where studio of movies are located 
studio=soup.find_all('td', class_='a-text-left mojo-field-type-studio')
   
                   
                     
#for loop to look thru all the html studio and convert them to string                     
All_studio = []
for thing in studio:
    All_studio.append(thing.text[:-2])

In [5]:
#print all studio 
All_studio

['Sony Pictures Entertainment (SPE)',
 'Walt Disney Studios Motion Pictures',
 'Sony Pictures Entertainment (SPE)',
 'Walt Disney Studios Motion Pictures',
 'Universal Pictures',
 'Walt Disney Studios Motion Pictures',
 'Metro-Goldwyn-Mayer (MGM)',
 'Paramount Pictures',
 'Sony Pictures Entertainment (SPE)',
 '20th Century Studios',
 'Walt Disney Studios Motion Pictures',
 'Warner Bros.',
 'Warner Bros.',
 'Universal Pictures',
 'Walt Disney Studios Motion Pictures',
 'Walt Disney Studios Motion Pictures',
 'Universal Pictures',
 'Warner Bros.',
 'Warner Bros.',
 'Universal Pictures',
 'Universal Pictures',
 'United Artists Releasing',
 'Warner Bros.',
 'Walt Disney Studios Motion Pictures',
 'FUNimation Entertainment',
 'Paramount Pictures',
 'United Artists Releasing',
 'Universal Pictures',
 'Warner Bros.',
 'Universal Pictures',
 'Sony Pictures Entertainment (SPE)',
 'Paramount Pictures',
 'Lionsgate',
 'Warner Bros.',
 'Screen Gems',
 'Warner Bros.',
 'Paramount Pictures',
 '20th Century Studios',
 'Warner Bros.',
 'United Artists Releasing',
 'Universal Pictures',
 'Universal Pictures',
 'Sony Pictures Entertainment (SPE)',
 'Metro-Goldwyn-Mayer (MGM)',
 'Warner Bros.',
 'Lionsgate',
 '20th Century Studios',
 'Universal Pictures',
 'A24',
 'Screen Gems',
 '20th Century Studios',
 'Searchlight Pictures',
 'Open Road Films (II)',
 'Screen Gems',
 'Warner Bros.',
 'Universal Pictures',
 'Warner Bros.',
 'Focus Features',
 'Fathom Events',
 'Warner Bros.',
 'Lionsgate',
 'FUNimation Entertainment',
 'Lionsgate',
 '20th Century Studios',
 'Searchlight Pictures',
 'Warner Bros.',
 'Screen Gems',
 'Focus Features',
 'Universal Pictures',
 'Warner Bros.',
 'Lionsgate',
 'Searchlight Pictures',
 'Neon',
 'Focus Features',
 'Searchlight Pictures',
 'Warner Bros.',
 'Roadside Attractions',
 'Warner Bros.',
 'United Artists Releasing',
 'Focus Features',
 'Focus Features',
 'Open Road Films (II)',
 'A24',
 'Open Road Films (II)',
 'Focus Features',
 'Lionsgate',
 'Sony Pictures Entertainment (SPE)',
 'Warner Bros.',
 'Sony Pictures Entertainment (SPE)',
 'Reliance Entertainment',
 'Neon',
 'Atlas Distribution Company',
 'Lionsgate',
 'A24',
 'Reliance Entertainment',
 'Bleecker Street Media',
 'Hidden Empire Film Group (HEFG)',
 'Stage 6 Films',
 'Roadside Attractions',
 'A24',
 'Focus Features',
 'Focus Features',
 '101 Studios',
 'Searchlight Pictures',
 'Searchlight Pictures',
 'Vertical Entertainment',
 'Gravitas Ventures',
 'Sony Pictures Classics',
 'Affirm Films',
 'A24',
 'Focus Features',
 'Neon',
 'Bleecker Street Media',
 'Roadside Attractions',
 'Searchlight Pictures',
 'Roadside Attractions',
 '',
 'Universal Pictures',
 'Saban Films',
 '',
 'Fathom Events',
 'Neon',
 'Greenwich Entertainment',
 'FUNimation Entertainment',
 'Faith Media Distribution',
 'Stage 6 Films',
 'Lionsgate',
 'Sony Pictures Entertainment (SPE)',
 'Focus Features',
 'Pantelion Films',
 'Purdie Distribution',
 'Warner Bros.',
 'Roadside Attractions',
 'Vertical Entertainment',
 'STX Entertainment',
 'Excel Entertainment',
 'Focus Features',
 'Sony Pictures Classics',
 '',
 'Sony Pictures Classics',
 'Gravitas Ventures',
 'Rhythm Boyz Entertainment',
 'Focus Features',
 'IMAX',
 'Roadside Attractions',
 'IFC Films',
 'Saban Films',
 'CMC Pictures',
 'Affirm Films',
 'Sony Pictures Classics',
 'Freestyle Releasing',
 'STX Entertainment',
 'Flyhigh Cinemas',
 '',
 'Warner Bros.',
 'Paramount Pictures',
 'Sony Pictures Classics',
 'Magnolia Pictures',
 'United Artists Releasing',
 'Screen Media Films',
 'Paramount Pictures',
 'Faith Media Distribution',
 'Sony Pictures Classics',
 'Fathom Events',
 'Quiver Distribution',
 'A24',
 'Sony Pictures Classics',
 'Lionsgate',
 'IFC Films',
 '3388 Films',
 'CMC Pictures',
 'Walt Disney Studios Motion Pictures',
 'IFC Films',
 'Universal Pictures',
 'Janus Films',
 'Focus Features',
 'RLJE Films',
 'Neon',
 'Bleecker Street Media',
 'IFC Films',
 'Vertical Entertainment',
 'Bleecker Street Media',
 'Well Go USA Entertainment',
 'Well Go USA Entertainment',
 'Stage 6 Films',
 'Roadside Attractions',
 'GKIDS',
 'Excel Entertainment',
 'Bleecker Street Media',
 'Picturehouse',
 'Focus Features',
 'Focus Features',
 'GKIDS',
 'Universal Pictures',
 'Rialto Distribution',
 'Neon',
 'Sony Pictures Classics',
 'Vertical Entertainment',
 'Paramount Pictures',
 'GKIDS']

In [6]:
#Read html where rank of movies are located 
rank=soup.find_all('td', class_='a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column')



#for loop to look thru all the html rank and convert them to string      
All_rank = []
for thing in rank:
    All_rank.append(thing.string)

In [7]:
#print all rank 
All_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200']

In [8]:
#Read html where rank of gross1 are located 
gross=soup.find_all('td', class_='a-text-right mojo-field-type-money mojo-estimatable')



#for loop to look thru all the html gross1 and convert them to string    
All_gross = []
for thing in gross:
    All_gross.append(thing.string)

In [9]:
#print all gross 
All_gross

['$572,984,769',
 '$804,793,477',
 '$224,543,292',
 '$224,543,292',
 '$212,609,036',
 '$213,550,366',
 '$183,651,655',
 '$183,651,655',
 '$173,005,945',
 '$173,005,945',
 '$164,616,321',
 '$164,870,234',
 '$160,772,007',
 '$160,891,007',
 '$160,072,261',
 '$160,072,261',
 '$122,378,960',
 '$129,360,575',
 '$121,626,598',
 '$121,626,598',
 '$116,987,516',
 '$116,987,516',
 '$99,597,705',
 '$100,916,094',
 '$93,404,911',
 '$108,327,830',
 '$92,002,155',
 '$92,002,155',
 '$90,628,329',
 '$96,093,622',
 '$86,103,234',
 '$86,103,234',
 '$74,883,155',
 '$162,790,990',
 '$67,559,184',
 '$70,592,228',
 '$65,579,078',
 '$65,631,050',
 '$61,186,570',
 '$61,186,570',
 '$57,300,280',
 '$57,300,280',
 '$56,489,153',
 '$56,489,153',
 '$55,812,663',
 '$55,817,425',
 '$54,723,032',
 '$54,723,032',
 '$49,505,008',
 '$49,505,008',
 '$48,947,356',
 '$48,947,356',
 '$48,417,498',
 '$53,809,574',
 '$48,242,510',
 '$48,276,510',
 '$46,318,441',
 '$46,536,687',
 '$44,539,245',
 '$44,539,245',
 '$40,501,717',
 '$40,501,717',
 '$40,127,371',
 '$40,127,371',
 '$38,014,727',
 '$38,014,727',
 '$37,479,648',
 '$42,326,031',
 '$32,712,950',
 '$32,712,950',
 '$29,914,684',
 '$29,975,167',
 '$28,264,325',
 '$28,264,325',
 '$28,169,248',
 '$38,530,322',
 '$28,134,634',
 '$37,686,805',
 '$27,466,489',
 '$27,466,489',
 '$27,268,035',
 '$27,568,035',
 '$26,234,535',
 '$58,568,815',
 '$25,314,753',
 '$25,314,753',
 '$24,278,399',
 '$24,278,399',
 '$23,773,929',
 '$46,801,036',
 '$23,216,862',
 '$23,216,862',
 '$23,009,270',
 '$23,009,270',
 '$17,635,215',
 '$17,716,215',
 '$17,173,321',
 '$17,173,321',
 '$16,923,891',
 '$17,000,612',
 '$16,258,724',
 '$37,176,373',
 '$15,976,770',
 '$16,124,375',
 '$15,566,093',
 '$15,566,093',
 '$15,532,137',
 '$15,532,137',
 '$15,340,534',
 '$15,342,746',
 '$15,002,646',
 '$15,002,646',
 '$14,721,229',
 '$15,129,285',
 '$14,465,535',
 '$14,465,535',
 '$13,728,000',
 '$13,728,000',
 '$13,351,893',
 '$13,391,791',
 '$13,287,908',
 '$13,287,908',
 '$12,271,658',
 '$12,271,658',
 '$12,213,600',
 '$26,514,814',
 '$10,853,945',
 '$10,853,945',
 '$10,619,670',
 '$10,619,670',
 '$10,183,309',
 '$10,310,734',
 '$10,144,067',
 '$15,162,470',
 '$10,127,625',
 '$10,127,625',
 '$8,951,155',
 '$12,668,325',
 '$7,628,768',
 '$8,237,403',
 '$7,446,823',
 '$7,446,823',
 '$7,100,581',
 '$7,100,581',
 '$7,086,632',
 '$7,086,632',
 '$6,885,925',
 '$9,250,870',
 '$6,878,302',
 '$11,338,107',
 '$6,853,610',
 '$7,407,200',
 '$6,613,432',
 '$6,613,432',
 '$5,466,990',
 '$5,478,009',
 '$5,444,149',
 '$17,318,007',
 '$5,252,785',
 '$6,460,965',
 '$5,249,970',
 '$5,354,970',
 '$5,213,243',
 '$5,213,243',
 '$4,844,399',
 '$4,844,399',
 '$4,509,143',
 '$4,509,143',
 '$4,178,620',
 '$4,178,620',
 '$3,918,764',
 '$6,306,897',
 '$3,905,919',
 '$6,545,174',
 '$3,900,193',
 '$3,900,193',
 '$3,689,952',
 '$3,689,637',
 '$3,547,776',
 '$3,547,776',
 '$3,186,668',
 '$3,186,668',
 '$3,162,012',
 '$3,163,362',
 '$3,149,935',
 '$3,149,935',
 '$3,110,580',
 '$3,110,580',
 '$3,024,933',
 '$4,055,660',
 '$2,913,328',
 '$2,913,328',
 '$2,857,187',
 '$2,893,660',
 '$2,807,494',
 '$2,807,494',
 '$2,753,985',
 '$2,753,985',
 '$2,676,410',
 '$2,676,410',
 '$2,657,850',
 '$2,657,850',
 '$2,577,830',
 '$2,577,830',
 '$2,575,698',
 '$21,277,892',
 '$2,404,127',
 '$2,404,127',
 '$2,320,649',
 '$2,320,649',
 '$2,170,750',
 '$2,170,750',
 '$1,926,706',
 '$1,926,706',
 '$1,852,442',
 '$2,122,771',
 '$1,803,226',
 '$1,803,226',
 '$1,793,749',
 '$1,863,674',
 '$1,744,740',
 '$1,744,740',
 '$1,442,988',
 '$1,442,988',
 '$1,437,951',
 '$1,437,938',
 '$1,405,488',
 '$1,405,488',
 '$1,393,000',
 '$3,700,000',
 '$1,342,880',
 '$1,831,718',
 '$1,320,000',
 '$1,320,000',
 '$1,253,415',
 '$1,757,415',
 '$1,213,800',
 '$1,251,184',
 '$1,196,000',
 '$1,800,000',
 '$1,170,367',
 '$1,170,367',
 '$1,083,576',
 '$1,113,723',
 '$1,060,556',
 '$1,060,556',
 '$1,050,000',
 '$1,050,000',
 '$1,038,255',
 '$1,038,255',
 '$1,018,532',
 '$1,018,532',
 '$1,016,725',
 '$1,016,725',
 '$971,000',
 '$971,000',
 '$970,450',
 '$10,475,990',
 '$927,154',
 '$927,154',
 '$855,765',
 '$855,765',
 '$850,000',
 '$2,188,425',
 '$844,743',
 '$844,743',
 '$837,849',
 '$837,849',
 '$836,536',
 '$836,536',
 '$744,812',
 '$744,813',
 '$738,175',
 '$788,675',
 '$734,814',
 '$741,895',
 '$719,853',
 '$750,623',
 '$694,385',
 '$694,849',
 '$657,351',
 '$663,725',
 '$644,000',
 '$644,000',
 '$637,665',
 '$648,665',
 '$626,946',
 '$626,946',
 '$587,156',
 '$667,815',
 '$575,783',
 '$575,783',
 '$572,493',
 '$572,493',
 '$556,632',
 '$556,632',
 '$504,855',
 '$504,855',
 '$491,402',
 '$521,202',
 '$480,774',
 '$480,774',
 '$475,488',
 '$475,488',
 '$470,000',
 '$470,000',
 '$470,000',
 '$470,000',
 '$459,940',
 '$58,504,105',
 '$448,000',
 '$448,000',
 '$445,019',
 '$445,740',
 '$443,050',
 '$443,050',
 '$424,667',
 '$424,667',
 '$417,706',
 '$418,286',
 '$408,937',
 '$457,577',
 '$404,371',
 '$404,371',
 '$391,718',
 '$391,718',
 '$387,000',
 '$387,000',
 '$380,460',
 '$404,738',
 '$379,585',
 '$1,023,086',
 '$375,817',
 '$399,811',
 '$373,169',
 '$373,169',
 '$362,857',
 '$364,237',
 '$350,000',
 '$350,000',
 '$342,318',
 '$342,411',
 '$334,000',
 '$334,000',
 '$332,257',
 '$354,481',
 '$328,795',
 '$9,030,855',
 '$310,524',
 '$2,352,240',
 '$308,976',
 '$308,976',
 '$304,602',
 '$383,234',
 '$303,556',
 '$303,556',
 '$288,714',
 '$288,714',
 '$282,499',
 '$282,500',
 '$282,332',
 '$282,332',
 '$275,155',
 '$275,155',
 '$271,710',
 '$346,271',
 '$270,275',
 '$385,305',
 '$269,435',
 '$269,435',
 '$264,626',
 '$264,626',
 '$257,893',
 '$8,056,636',
 '$254,775',
 '$254,775',
 '$234,220',
 '$234,220',
 '$231,687',
 '$231,687',
 '$225,830',
 '$2,241,980',
 '$224,405',
 '$224,405',
 '$215,728',
 '$2,529,324',
 '$214,390',
 '$214,390',
 '$211,467',
 '$211,467',
 '$204,513',
 '$204,513',
 '$200,989',
 '$200,989',
 '$191,996',
 '$191,996',
 '$188,000',
 '$188,000',
 '$173,704',
 '$173,704']

In [10]:
#Read html where release of release are located 
release=soup.find_all('td', class_='a-text-left mojo-field-type-date a-nowrap')



#for loop to look thru all the html release and convert them to string 
All_release = []
for thing in release:
    All_release.append(thing.string)

In [11]:
#print all release 
All_release

['Dec 17',
 'Sep 3',
 'Oct 1',
 'Jul 9',
 'Jun 25',
 'Nov 5',
 'Oct 8',
 'May 28',
 'Nov 19',
 'Aug 13',
 'Jul 30',
 'Mar 31',
 'Oct 22',
 'Oct 15',
 'Nov 24',
 'May 28',
 'Dec 22',
 'Jul 16',
 'Jun 4',
 'Aug 27',
 'Jul 2',
 'Oct 1',
 'Aug 6',
 'Mar 5',
 'Apr 23',
 'Nov 10',
 'Nov 24',
 'Jul 23',
 'Feb 26',
 'Jul 2',
 'Jun 11',
 'Aug 20',
 'Jun 16',
 'Apr 23',
 'Aug 13',
 'Jun 11',
 'Jul 23',
 'Dec 10',
 'Dec 22',
 'May 7',
 'Mar 26',
 'Nov 25',
 'Jul 16',
 'Aug 13',
 'Dec 25',
 'May 14',
 'Oct 22',
 'Jun 4',
 'Jul 30',
 'Nov 24',
 'Dec 22',
 'Oct 22',
 'Jan 15',
 'Apr 2',
 'Jan 29',
 'Sep 24',
 'Nov 19',
 'Jul 30',
 'Dec 1',
 'Sep 10',
 'Mar 5',
 'Oct 29',
 'Dec 25',
 'Oct 15',
 'Oct 29',
 'Sep 17',
 'Dec 18',
 'Oct 29',
 'Dec 25',
 'Oct 1',
 'Aug 20',
 'Aug 20',
 'Nov 5',
 'Nov 12',
 'Dec 17',
 'May 14',
 'Mar 19',
 'Feb 12',
 'Nov 26',
 'Dec 25',
 'Jul 16',
 'Sep 17',
 'Jun 30',
 'Apr 30',
 'Mar 5',
 'Dec 18',
 'Dec 25',
 'Aug 20',
 'Jun 11',
 'Nov 5',
 'Jul 16',
 'Apr 2',
 'Apr 9',
 'Feb 12',
 'Dec 23',
 'May 21',
 'Jun 11',
 'May 7',
 'May 14',
 'Oct 8',
 'Sep 10',
 'Feb 12',
 'Oct 9',
 'Sep 17',
 'Jun 25',
 'Sep 10',
 'Jun 11',
 'Feb 26',
 'Sep 10',
 'Nov 19',
 'May 14',
 'Oct 1',
 'Apr 23',
 'Jul 23',
 'Feb 19',
 'Dec 25',
 'Dec 17',
 '-',
 'Jan 26',
 'Oct 15',
 'Oct 4',
 'Apr 16',
 'Oct 8',
 'Dec 3',
 'Dec 3',
 'Mar 12',
 'Oct 1',
 'Sep 24',
 'Oct 30',
 'Aug 27',
 'Jun 4',
 'May 21',
 'Sep 10',
 'Apr 30',
 'Feb 12',
 'Mar 12',
 'Sep 17',
 'Feb 12',
 'Nov 19',
 'Jul 30',
 'Jan 22',
 'Oct 1',
 'Jun 18',
 'Aug 25',
 'Nov 26',
 'Jun 25',
 'Mar 19',
 'Nov 12',
 'Sep 24',
 'Mar 5',
 'Nov 24',
 'Dec 10',
 'Mar 12',
 'Oct 15',
 'Sep 3',
 'May 28',
 'Aug 13',
 'Apr 2',
 'Aug 20',
 'Feb 12',
 'May 14',
 'Mar 12',
 'Oct 29',
 'Oct 8',
 'Feb 26',
 'Dec 10',
 'Nov 12',
 'Sep 17',
 'May 21',
 'May 28',
 'Nov 19',
 'Jan 15',
 'Dec 3',
 'Nov 13',
 'Nov 24',
 'May 21',
 'May 7',
 'May 21',
 'Nov 19',
 'Feb 19',
 'Jan 15',
 'Sep 24',
 'Aug 6',
 'Aug 13',
 'Oct 29',
 'Jun 18',
 'Jan 15',
 'Jul 21',
 'Jan 29',
 'Oct 22',
 'Dec 4',
 'Apr 30',
 'Sep 17',
 'Aug 27',
 'May 14',
 'Jul 23',
 'Jan 29',
 'Apr 30',
 'Jul 23',
 'Feb 3']

In [12]:
#shows all the list we have
#All_titles
#All_gross
#All_studio
#All_rank
#All_gross1

<h1>Converting List Into Dataframe</h1>

In [13]:
#Create list "All_titles, All_studio, All_rank, All_release"
df = pd.DataFrame(
{
    "rank": All_rank,
    "title": All_titles,
    "studio": All_studio,
    "release": All_release,
})
df.head()

,rank,title,studio,release
0,1,Spider-Man: No Way Home,Sony Pictures Entertainment (SPE),Dec 17
1,2,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,Sep 3
2,3,Venom: Let There Be Carnage,Sony Pictures Entertainment (SPE),Oct 1
3,4,Black Widow,Walt Disney Studios Motion Pictures,Jul 9
4,5,F9: The Fast Saga,Universal Pictures,Jun 25

In [14]:
#Create list "All_gross1" had to make into different dataframe
#due to inconsitency with length of data
df1 = pd.DataFrame(
{

    "gross": All_gross,

})
df1.head()

          gross
0  $572,984,769
1  $804,793,477
2  $224,543,292
3  $224,543,292
4  $212,609,036

In [15]:
df

,rank,title,studio,release
0,1,Spider-Man: No Way Home,Sony Pictures Entertainment (SPE),Dec 17
1,2,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,Sep 3
2,3,Venom: Let There Be Carnage,Sony Pictures Entertainment (SPE),Oct 1
3,4,Black Widow,Walt Disney Studios Motion Pictures,Jul 9
4,5,F9: The Fast Saga,Universal Pictures,Jun 25
...,...,...,...,...
195,196,Ailey,Neon,Jul 23
196,197,Groundhog Day,Sony Pictures Classics,Jan 29
197,198,The Resort,Vertical Entertainment,Apr 30
198,199,Kaamelott: First Installment,Paramount Pictures,Jul 23
199,200,Earwig and the Witch,GKIDS,Feb 3

In [16]:
#drop every other 2nd row of df1 to correct duplicate gross totals found in df1
df1 = df1.iloc[::2]

In [17]:
#reset index for df1
df1 = df1.reset_index()

<h1>Combining dataframes</h1>

In [18]:
#combine dataframes df to df1 
df = df.join(df1)

In [19]:
#convert files to csv
df.to_csv

<bound method NDFrame.to_csv of     rank                                      title  \
0      1                    Spider-Man: No Way Home
1      2  Shang-Chi and the Legend of the Ten Rings
2      3                Venom: Let There Be Carnage
3      4                                Black Widow
4      5                          F9: The Fast Saga
..   ...                                        ...
195  196                                      Ailey
196  197                              Groundhog Day
197  198                                 The Resort
198  199               Kaamelott: First Installment
199  200                       Earwig and the Witch

                                  studio release  index         gross
0      Sony Pictures Entertainment (SPE)  Dec 17      0  $572,984,769
1    Walt Disney Studios Motion Pictures   Sep 3      2  $224,543,292
2      Sony Pictures Entertainment (SPE)   Oct 1      4  $212,609,036
3    Walt Disney Studios Motion Pictures   Jul 9      6  $183,651,655
4                     Universal Pictures  Jun 25      8  $173,005,945
..                                   ...     ...    ...           ...
195                                 Neon  Jul 23    390      $204,513
196               Sony Pictures Classics  Jan 29    392      $200,989
197               Vertical Entertainment  Apr 30    394      $191,996
198                   Paramount Pictures  Jul 23    396      $188,000
199                                GKIDS   Feb 3    398      $173,704

[200 rows x 6 columns]>

In [20]:
#show results of complete dataset
df

,rank,title,studio,release,index,gross
0,1,Spider-Man: No Way Home,Sony Pictures Entertainment (SPE),Dec 17,0,"$572,984,769"
1,2,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,Sep 3,2,"$224,543,292"
2,3,Venom: Let There Be Carnage,Sony Pictures Entertainment (SPE),Oct 1,4,"$212,609,036"
3,4,Black Widow,Walt Disney Studios Motion Pictures,Jul 9,6,"$183,651,655"
4,5,F9: The Fast Saga,Universal Pictures,Jun 25,8,"$173,005,945"
...,...,...,...,...,...,...
195,196,Ailey,Neon,Jul 23,390,"$204,513"
196,197,Groundhog Day,Sony Pictures Classics,Jan 29,392,"$200,989"
197,198,The Resort,Vertical Entertainment,Apr 30,394,"$191,996"
198,199,Kaamelott: First Installment,Paramount Pictures,Jul 23,396,"$188,000"
199,200,Earwig and the Witch,GKIDS,Feb 3,398,"$173,704"

<h1>Export results to folder</h1>

In [21]:
#Export df to file "movies2"
df.to_csv (r'C:\Users\zaner\Desktop\movies2.csv', index = False, header=True)