In [1]:
#import dependancies
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

<h3>Extract our CSV's into the DataFrame and Transform it</h3>

In [2]:
# extract our kaggle movie data
movies1 = "movies1.csv"
movies1_df = pd.read_csv(movies1)
movies1_df.head()

,Unnamed: 0,popularity,release_date,title,overview,vote_average,vote_count,original_language,original_title,release_month,release_year
0,6,105.354,8/12/2022,Gabriel's Rapture: Part III,In the sixth installment of the Gabriel's Infe...,8.8,18,en,Gabriel's Rapture: Part III,August,2022.0
1,11,1506.480,7/29/2022,Purple Hearts,An aspiring musician agrees to a marriage of c...,8.6,1026,en,Purple Hearts,July,2022.0
2,16,1590.428,12/15/2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,8.0,14626,en,Spider-Man: No Way Home,December,2021.0
3,37,848.034,11/24/2021,Encanto,"The tale of an extraordinary family, the Madri...",7.7,7122,en,Encanto,November,2021.0
4,42,176.033,3/4/2022,Tyson's Run,When fifteen-year-old Tyson attends public sch...,8.4,38,en,Tyson's Run,March,2022.0

In [3]:
# Selecting only the columns that will be relevent to our inquiry
movies1_df = movies1_df[['title', 'popularity', 'vote_average', 'release_month', 'release_year']].copy()
movies1_df.head()

,title,popularity,vote_average,release_month,release_year
0,Gabriel's Rapture: Part III,105.354,8.8,August,2022.0
1,Purple Hearts,1506.480,8.6,July,2022.0
2,Spider-Man: No Way Home,1590.428,8.0,December,2021.0
3,Encanto,848.034,7.7,November,2021.0
4,Tyson's Run,176.033,8.4,March,2022.0

In [4]:
# run to verify data types
movies1_df.dtypes

title             object
popularity       float64
vote_average     float64
release_month     object
release_year     float64
dtype: object

In [5]:
# change release year to an INT data type
movies1_df['release_year'] = movies1_df['release_year'].astype(int)

In [6]:
movies1_df.dtypes

title             object
popularity       float64
vote_average     float64
release_month     object
release_year       int32
dtype: object

In [7]:
movies1_df

,title,popularity,vote_average,release_month,release_year
0,Gabriel's Rapture: Part III,105.354,8.8,August,2022
1,Purple Hearts,1506.480,8.6,July,2022
2,Spider-Man: No Way Home,1590.428,8.0,December,2021
3,Encanto,848.034,7.7,November,2021
4,Tyson's Run,176.033,8.4,March,2022
...,...,...,...,...,...
515,WarHunt,889.462,5.2,January,2022
516,Gatlopp: Hell of a Game,154.374,5.2,June,2022
517,Brazen,177.901,4.9,January,2022
518,The Hunting,179.192,4.8,January,2022
519,The Requin,363.318,4.6,January,2022

In [8]:
# only include movies released in 2022 to match our movies2 data
movies1_df.drop(movies1_df[movies1_df['release_year'] != 2021].index, inplace = True)
movies1_df.head()

,title,popularity,vote_average,release_month,release_year
2,Spider-Man: No Way Home,1590.428,8.0,December,2021
3,Encanto,848.034,7.7,November,2021
5,Sing 2,641.864,8.0,December,2021
10,Venom: Let There Be Carnage,507.932,7.0,September,2021
12,The Desperate Hour,501.535,6.2,September,2021

In [9]:
# check the number of movies in 2022
len(movies1_df)

113

In [10]:
# extract our webscraped movie data
movies2 = "movies2.csv"
movies2_df = pd.read_csv(movies2)
movies2_df.head()

,rank,title,studio,release,index,gross
0,1,Spider-Man: No Way Home,Sony Pictures Entertainment (SPE),Dec 17,0,"$572,984,769"
1,2,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,Sep 3,2,"$224,543,292"
2,3,Venom: Let There Be Carnage,Sony Pictures Entertainment (SPE),Oct 1,4,"$212,609,036"
3,4,Black Widow,Walt Disney Studios Motion Pictures,Jul 9,6,"$183,651,655"
4,5,F9: The Fast Saga,Universal Pictures,Jun 25,8,"$173,005,945"

In [11]:
# Select only the columns that will be relevent to our inquiry
movies2_df = movies2_df[[ 'rank', 'title', 'studio', 'release', 'gross']].copy()
movies2_df.head()

,rank,title,studio,release,gross
0,1,Spider-Man: No Way Home,Sony Pictures Entertainment (SPE),Dec 17,"$572,984,769"
1,2,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,Sep 3,"$224,543,292"
2,3,Venom: Let There Be Carnage,Sony Pictures Entertainment (SPE),Oct 1,"$212,609,036"
3,4,Black Widow,Walt Disney Studios Motion Pictures,Jul 9,"$183,651,655"
4,5,F9: The Fast Saga,Universal Pictures,Jun 25,"$173,005,945"

In [12]:
# check the number of titles in dataset 2
len(movies2_df)

200

In [13]:
# Verify the data types of movies2
movies2_df.dtypes

rank        int64
title      object
studio     object
release    object
gross      object
dtype: object

In [14]:
 movie_total = pd.merge(movies1_df,movies2_df, on= ["title"])

In [15]:
len(movie_total)

46

In [16]:
movie_total.head(46)

,title,popularity,vote_average,release_month,release_year,rank,studio,release,gross
0,Spider-Man: No Way Home,1590.428,8.0,December,2021,1,Sony Pictures Entertainment (SPE),Dec 17,"$572,984,769"
1,Encanto,848.034,7.7,November,2021,15,Walt Disney Studios Motion Pictures,Nov 24,"$90,628,329"
2,Sing 2,641.864,8.0,December,2021,17,Universal Pictures,Dec 22,"$74,883,155"
3,Venom: Let There Be Carnage,507.932,7.0,September,2021,3,Sony Pictures Entertainment (SPE),Oct 1,"$212,609,036"
4,Shang-Chi and the Legend of the Ten Rings,449.042,7.7,September,2021,2,Walt Disney Studios Motion Pictures,Sep 3,"$224,543,292"
5,Cruella,456.400,8.1,May,2021,16,Walt Disney Studios Motion Pictures,May 28,"$86,103,234"
6,After We Fell,409.775,7.2,September,2021,106,Vertical Entertainment,Sep 10,"$2,170,750"
7,Eternals,406.522,7.1,November,2021,6,Walt Disney Studios Motion Pictures,Nov 5,"$164,616,321"
8,Resident Evil: Welcome to Raccoon City,389.165,6.1,November,2021,50,Screen Gems,Nov 24,"$16,923,891"
9,Mortal Kombat,364.650,7.2,April,2021,34,Warner Bros.,Apr 23,"$37,479,648"
10,Ghostbusters: Afterlife,323.840,7.6,November,2021,9,Sony Pictures Entertainment (SPE),Nov 19,"$122,378,960"
11,Clifford the Big Red Dog,339.895,7.3,November,2021,26,Paramount Pictures,Nov 10,"$48,947,356"
12,PAW Patrol: The Movie,359.695,7.4,August,2021,32,Paramount Pictures,Aug 20,"$40,127,371"
13,The Conjuring: The Devil Made Me Do It,337.214,7.6,May,2021,19,Warner Bros.,Jun 4,"$65,579,078"
14,The King's Man,302.233,6.9,December,2021,51,20th Century Studios,Dec 22,"$16,258,724"
15,The Suicide Squad,296.762,7.6,July,2021,23,Warner Bros.,Aug 6,"$55,812,663"
16,The Matrix Resurrections,299.084,6.7,December,2021,39,Warner Bros.,Dec 22,"$28,134,634"
17,Free Guy,264.499,7.7,August,2021,10,20th Century Studios,Aug 13,"$121,626,598"
18,The Addams Family 2,330.782,7.1,October,2021,22,United Artists Releasing,Oct 1,"$56,489,153"
19,Space Jam: A New Legacy,248.526,7.0,July,2021,18,Warner Bros.,Jul 16,"$67,559,184"
20,Jungle Cruise,225.971,7.5,July,2021,11,Walt Disney Studios Motion Pictures,Jul 30,"$116,987,516"
21,Godzilla vs. Kong,246.162,7.8,March,2021,12,Warner Bros.,Mar 31,"$99,597,705"
22,Black Widow,267.228,7.4,July,2021,4,Walt Disney Studios Motion Pictures,Jul 9,"$183,651,655"
23,Dune,248.417,7.9,September,2021,13,Warner Bros.,Oct 22,"$93,404,911"
24,The Unholy,251.372,6.7,March,2021,54,Screen Gems,Apr 2,"$15,532,137"
25,Ron's Gone Wrong,226.533,8.1,October,2021,47,20th Century Studios,Oct 22,"$23,009,270"
26,Raya and the Last Dragon,231.215,8.0,March,2021,24,Walt Disney Studios Motion Pictures,Mar 5,"$54,723,032"
27,Wrath of Man,211.614,7.7,April,2021,40,United Artists Releasing,May 7,"$27,466,489"
28,No Time to Die,188.454,7.5,September,2021,7,Metro-Goldwyn-Mayer (MGM),Oct 8,"$160,772,007"
29,A Quiet Place Part II,203.421,7.6,May,2021,8,Paramount Pictures,May 28,"$160,072,261"
30,The Forever Purge,207.559,7.2,June,2021,30,Universal Pictures,Jul 2,"$44,539,245"
31,Don't Breathe 2,190.050,7.3,August,2021,35,Screen Gems,Aug 13,"$32,712,950"
32,Tom & Jerry,183.338,7.0,February,2021,29,Warner Bros.,Feb 26,"$46,318,441"
33,Halloween Kills,195.025,6.7,October,2021,14,Universal Pictures,Oct 15,"$92,002,155"
34,Old,184.873,6.5,July,2021,28,Universal Pictures,Jul 23,"$48,242,510"
35,Nobody,182.530,8.1,March,2021,41,Universal Pictures,Mar 26,"$27,268,035"
36,Nightmare Alley,170.388,7.0,December,2021,75,Searchlight Pictures,Dec 17,"$6,878,302"
37,Antlers,156.008,6.3,October,2021,65,Searchlight Pictures,Oct 29,"$10,619,670"
38,Spirit Untamed,151.418,7.4,May,2021,48,Universal Pictures,Jun 4,"$17,635,215"
39,The Last Duel,133.126,7.5,October,2021,64,20th Century Studios,Oct 15,"$10,853,945"
40,The Marksman,123.440,6.9,January,2021,53,Open Road Films (II),Jan 15,"$15,566,093"
41,Separation,125.180,5.8,April,2021,84,Open Road Films (II),Apr 30,"$4,509,143"
42,Wrong Turn,112.344,6.0,January,2021,119,Saban Films,Jan 26,"$1,213,800"
43,Peter Rabbit 2: The Runaway,112.615,7.2,March,2021,31,Sony Pictures Entertainment (SPE),Jun 11,"$40,501,717"
44,Malignant,110.535,6.9,September,2021,60,Warner Bros.,Sep 10,"$13,351,893"
45,Escape Room: Tournament of Champions,95.969,6.7,July,2021,43,Sony Pictures Entertainment (SPE),Jul 16,"$25,314,753"

In [17]:
movie_total.dtypes

title             object
popularity       float64
vote_average     float64
release_month     object
release_year       int32
rank               int64
studio            object
release           object
gross             object
dtype: object

In [18]:
# Join the Data sets at the moment it doesnt work :c
# movies_total = movies2_df.join(movies1_df, on= ["title"])

In [19]:
# Format movies1 columns
# movies1_df

<h3>Create database connection</h3> *All the following code is a place holder do not run it*

In [20]:
#pip install psycopg2-binary

In [21]:
protocol = 'postgresql'
username = '<postgres>'
password = '<postgres>'
host = 'localhost'
port = 5432
database_name = 'MoviesDB2022'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [22]:
connection_string = "postgres:postgres@localhost:5432/MoviesDB2021"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
movie_total.to_sql(name='movies3', con=engine, if_exists='append', index=True)

46