In [ ]:
#import dependancies
import pandas as pd
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

<h3>Extract our CSV's into the DataFrame and Transform it</h3>

In [ ]:
# extract our kaggle movie data
movies1 = "movies1.csv"
movies1_df = pd.read_csv(movies1)
movies1_df.head()

In [ ]:
# Selecting only the columns that will be relevent to our inquiry
movies1_df = movies1_df[['title', 'popularity', 'vote_average', 'release_month', 'release_year']].copy()
movies1_df.head()

In [ ]:
# run to verify data types
movies1_df.dtypes

In [ ]:
# only include movies released in 2022 to match our movies2 data
movies1_df.drop(movies1_df[movies1_df['release_year'] < 2022.0].index, inplace = True)
movies1_df.head()

In [ ]:
# check the number of movies in 2022
len(movies1_df)

In [ ]:
# extract our webscraped movie data
movies2 = "movies2.csv"
movies2_df = pd.read_csv(movies2)
movies2_df.head()

In [ ]:
# Select only the columns that will be relevent to our inquiry
movies2_df = movies2_df[['rank', 'title', 'studio', 'release', 'gross']].copy()
movies2_df.head()

In [ ]:
# check the number of titles in dataset 2
len(movies2_df)

In [ ]:
# Verify the data types of movies2
movies2_df.dtypes

In [ ]:
# Join the Data sets at the moment it doesnt work :c
movies_total = movies2_df.join(movies1_df, on= 'title')

In [ ]:
# Format movies1 columns
movies1_df

<h3>Create database connection</h3> *All the following code is a place holder do not run it*

In [ ]:
protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = 'customer_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
movies1.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
movies2.to_sql(name='county', con=engine, if_exists='append', index=True)